<!-- Wrapper Start -->
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>
              Our warranty registration process is quick and easy, and you can do it 
              right from the comfort of your own home. Plus, registering your warranty 
              will give you peace of mind knowing that you're covered in the event of any
               unforeseen issues.
            </p>
          </div>
          <p>
           Register your product warranty today for peace of mind and added protection.
            Our warranty covers your purchase against defects in materials and workmanship,
             ensuring that you receive the high-quality product you deserve. Don't wait until it's
              too late, take advantage of our warranty registration today and enjoy the added benefits of
               hassle-free repairs and replacements.
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5">
        <div class="block">
          <img src="static/images/wrapper-img.png" alt="Img" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>
