{% include 'base_1.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div
        id="w-node-caad191d-05db-2ea3-b8d3-00927667ef5e-0c927997"
        class="div-block-23"
      >
        <h1
          data-w-id="85189be0-242c-2a22-3d1c-affe01181e79"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
            line-height: 55px;
          "
          class="heading-big"
        >
          <span class="heading-big-blue"
            >Bookkeeping &amp; <br />Accounting services</span
          >
          <br />for Everyone
        </h1>
        <p
          data-w-id="fe58ecdf-6b54-a16b-0c59-614c9b71bfc9"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
            line-height: 55px;
          "
          class="body-big"
        >
          From the smallest details to the greatest fortune, we will take care
          of it all.
        </p>
        <a
          data-w-id="74d316f6-9bf4-f1ee-9c14-e2cc0536a412"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
          "
          href="#"
          target="_blank"
          class="button btn btn-primary"
          >Schedule Free Consultation</a
        >
      </div>
    </div>
    <div class="col-sm">
      <img
        src="https://uploads-ssl.webflow.com/61c08d09b6eb281c43927995/61c08d09b6eb28d6759279c3_Asset%201%201.png"
        loading="eager"
        style="
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          opacity: 1;
          transform-style: preserve-3d;
        "
        data-w-id="61bbf29b-1741-764e-9c7f-92444bed350d"
        alt=""
        class="image-3"
      />
    </div>
  </div>
</div>

<section class="Who_are_we section">
  <div class="container">
    <div class="row" >
      <div class="col-lg-8 offset-lg-2 col-12" style="padding: 1px;">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Who we are</h2>
        </div>
      </div>
      <p class="wow fadeInUp" data-wow-delay=".6s">
      <b>Our vision is to be recognized as the premier a KPO firm in the industry, known for our commitment to 
      excellence, integrity, and innovation.</b>
      </p>
      <br /><br /><br />
      <p class="wow fadeInUp" data-wow-delay=".6s">
       We, Global Insights KPO are the team of certified accountants and CPAs based in India. 
       We offer a comprehensive portfolio of outsourcing solutions for various sizes of business organizations.
      </p>
      <br /><br /><br />
      <p>
        We continuously strive to ensure that our clients get best quality service with 
        access to the latest skills and technologies in a very efficient manner.
      </p>
      <br /><br /><br />
      <p>
        We are, emerging KPO with a team having the specialized knowledge in the field of accounting,
         management consultancy and other financial services.
      </p>
    </div>
  </div>
</section>
<section class="why_us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12" style="padding: -9px;">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">
            Why Global Insights KPO
          </h2>
        </div>
      </div>
      <hr>
      <table class="table" style="padding: 23px;">

        <tbody>
          <tr>
            <td scope="row">- Experience of more than 5 years in the accounting and finance industry.</td>
          </tr>
          <tr>
            <td scope="row">- Harnessing innovative approaches and accounting technology to deliver superior results.</td>
          </tr>
          <tr>
            <td scope="row">- As we are into the profession of trust, we believe that the safety and security of
                            data is of utmost importance. Hence, we are using the latest technologies to ensure 
                            that the client's data is kept confidential and secure.
            </td>
          </tr>
          <tr>
            <td scope="row">- Apart from traditional accounting services, we believe in providing more
                              insights about the financial health of your business like various KPIs & ratio 
                              analysis so that the business owners can get to know the overall financial picture 
                              of the business which enable us to become a valuable partner in your business 
                              success.
            </td>
          </tr>   
          <tr>
            <td scope="row">- Committed to provide excellent customer service, being responsive\
                              to clients' needs, and maintaining open and clear communication at all times.
            </td>
          </tr>   
          <tr>
            <td scope="row">- We believe in consistency. Hence, we take continuous feedback from our 
                              clients on a regular intervals so as to maintain a higher level of satisfaction 
                              of our clients.
            </td>
          </tr>   
         
        </tbody>
      </table>

    </div>
    <!-- oUR SERVICES-->
    {% comment %} <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div
          class="single-service wow fadeInUp"
          data-wow-delay=".2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
          "
        >
          <div class="serial">
            <span><i class="lni lni-code"></i></span>
          </div>
          <h3><a href="service-single.html">Web Solution</a></h3>
          <p>
            Need A Project Completed By An Expert? Let’s Go! Access A Human
            Resources Consultant To Answer Questions
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
          <div class="serial">
            <span><i class="lni lni-vector"></i></span>
          </div>
          <h3><a href="service-single.html">Graphics Design</a></h3>
          <p>
            Need A Project Completed By An Expert? Let’s Go! Access A Human
            Resources Consultant To Answer Questions
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
          <div class="serial">
            <span><i class="lni lni-ux"></i></span>
          </div>
          <h3><a href="service-single.html">Ui/Ux Design</a></h3>
          <p>
            Need A Project Completed By An Expert? Let’s Go! Access A Human
            Resources Consultant To Answer Questions
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
          <div class="serial">
            <span><i class="lni lni-keyword-research"></i></span>
          </div>
          <h3><a href="service-single.html">Strategy & Research</a></h3>
          <p>
            Need A Project Completed By An Expert? Let’s Go! Access A Human
            Resources Consultant To Answer Questions
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="serial">
            <span><i class="lni lni-seo"></i></span>
          </div>
          <h3><a href="service-single.html">SEO & Marketing</a></h3>
          <p>
            Need A Project Completed By An Expert? Let’s Go! Access A Human
            Resources Consultant To Answer Questions
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".7s">
          <div class="serial">
            <span><i class="lni lni-bar-chart"></i></span>
          </div>
          <h3><a href="service-single.html">Growth Tracking</a></h3>
          <p>
            Need A Project Completed By An Expert? Let’s Go! Access A Human
            Resources Consultant To Answer Questions
          </p>
        </div>
      </div>
    </div> {% endcomment %}
  
  </div>
</section>
<!-- Our Creative Team-->
<div class="team-area section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Creative Team</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".3s">
          <div class="team-img">
            <img
              src="{% static 'images/img1.webp' %}"
              alt="Images"
              data-pagespeed-url-hash="1429878292"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".5s">
          <div class="team-img">
            <img
              src="{% static 'images/img2.webp' %}"
              alt="Images"
              data-pagespeed-url-hash="1724378213"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".7s">
          <div class="team-img">
            <img
              src="{% static 'images/img3.webp' %}"
              alt="Images"
              data-pagespeed-url-hash="2018878134"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>
{% include 'company.html' %}
 {% endblock %}
<script type="text/javascript" src='{% static "js/validation.js" %}'></script>
{% include 'footer.html'%}