<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Global Insights</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="static/images/favicon.svg"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="static/css/animate.css" />
    <link rel="stylesheet" href="static/css/tiny-slider.css" />
    <link rel="stylesheet" href="static/css/glightbox.min.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/responsive.css" />
  </head>
</html>
<body>
  <style>
    {% block styles %}
    {% endblock%}
  </style>
  {% block content %} {% endblock%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/count-up.min.js"></script>
  <script src="static/js/wow.min.js"></script>
  <script src="static/js/tiny-slider.js"></script>
  <script src="static/js/glightbox.min.js"></script>
  <script src="static/js/imagesloaded.min.js"></script>
  <script src="static/js/isotope.min.js"></script>
  {% comment %}
  <script src="static/js/main.js"></script>
  {% endcomment %}
  <script type="text/javascript">
    //========= glightbox
    GLightbox({
      href: "https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s",
      type: "video",
      source: "youtube", //vimeo, youtube or local
      width: 900,
      autoplayVideos: true,
    });

    //====== Clients Logo Slider
    tns({
      container: ".client-logo-carousel",
      slideBy: "page",
      autoplay: true,
      autoplayButtonOutput: false,
      mouseDrag: true,
      gutter: 15,
      nav: false,
      controls: false,
      responsive: {
        0: {
          items: 1,
        },
        540: {
          items: 2,
        },
        768: {
          items: 3,
        },
        992: {
          items: 4,
        },
        1170: {
          items: 6,
        },
      },
    });

    {% comment %} //======== Home Slider
    var slider = new tns({
      container: ".home-slider",
      slideBy: "page",
      autoplay: false,
      mouseDrag: true,
      gutter: 0,
      items: 1,
      nav: true,
      controls: false,
      controlsText: [
        '<i class="lni lni-arrow-left prev"></i>',
        '<i class="lni lni-arrow-right next"></i>',
      ],
      responsive: {
        1200: {
          items: 1,
        },
        992: {
          items: 1,
        },
        0: {
          items: 1,
        },
      },
    }); {% endcomment %}

    //======== Testimonial Slider
    var slider = new tns({
      container: ".testimonial-slider",
      slideBy: "page",
      autoplay: false,
      mouseDrag: true,
      gutter: 0,
      items: 1,
      nav: true,
      controls: false,
      controlsText: [
        '<i class="lni lni-arrow-left prev"></i>',
        '<i class="lni lni-arrow-right next"></i>',
      ],
      responsive: {
        1200: {
          items: 2,
        },
        992: {
          items: 1,
        },
        0: {
          items: 1,
        },
      },
    });

    //============== isotope masonry js with imagesloaded
    imagesLoaded("#container", function () {
      var elem = document.querySelector(".grid");
      var iso = new Isotope(elem, {
        // options
        itemSelector: ".grid-item",
        masonry: {
          // use outer width of grid-sizer for columnWidth
          columnWidth: ".grid-item",
        },
      });

      let filterButtons = document.querySelectorAll(
        ".portfolio-btn-wrapper button"
      );
      filterButtons.forEach((e) =>
        e.addEventListener("click", () => {
          let filterValue = event.target.getAttribute("data-filter");
          iso.arrange({
            filter: filterValue,
          });
        })
      );
    });
  </script>
  {% include 'header.html' %}
</body>
