{% include 'base_1.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div
        id="w-node-caad191d-05db-2ea3-b8d3-00927667ef5e-0c927997"
        class="div-block-23"
      >
       
      </div>
    </div>
    <div class="col-sm">
      <img
        src="https://uploads-ssl.webflow.com/61c08d09b6eb281c43927995/61c08d09b6eb28d6759279c3_Asset%201%201.png"
        loading="eager"
        style="
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          opacity: 1;
          transform-style: preserve-3d;
        "
        data-w-id="61bbf29b-1741-764e-9c7f-92444bed350d"
        alt=""
        class="image-3"
      />
    </div>
  </div>
</div>

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>
{% endblock %}
<script type="text/javascript" src='{% static "js/validation.js" %}'></script>
{% include 'footer.html'%}
