  <footer class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-5 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href={% url 'global_insights' %}><img src="static/images/logo.png" alt="Global Insights"></a>
                            </div>
                            <p style="font-size: 12px;">Global Insights KPO offer a comprehensive portfolio of outsourcing solutions for various sizes of business organisations.</p>
                            <div class="footer-social">
                                <ul>
                                    <center>
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    </center>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-3 col-6">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Company</h3>
                                    <ul>
                                        <li><a href="{% url 'about_us' %}">About Company</a></li>
                                        <li><a href="{% url 'services' %}">Services We Provide</a></li>
                                        <li><a href="{% url 'services' %}">Connect with Us</a></li>
                                        {% comment %} <li><a href="#">Happy People’s</a></li> {% endcomment %}
                                        {% comment %} <li><a href="#">Winning Awards</a></li> {% endcomment %}
                                        {% comment %} <li><a href="#">Company Statics</a></li> {% endcomment %}
                                        {% comment %} <li><a href="#">Privacy Policy</a></li> {% endcomment %}
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-6 col-md-9 col-6">
                                <!-- Single Widget -->
                                <div class="single-footer f-contact f-link">
                                    <h3>Contact Us</h3>
                                    
                                    <ul class="footer-contact">
                                        <li><i class="lni lni-phone"></i> <a href="#">+091 83205 46710</a></li>
                                        <li><i class="lni lni-phone"></i> <a href="#">+1 (646)</a></li>
                                        <li><i class="lni lni-envelope"></i> <a
                                                href="mailto:support@gmail.com">info@globalinsightskpo.com</a></li>
                                        <li><i class="lni lni-map-marker"></i> Surat, Gujarat, India </li>
                                        <li><i class="lni lni-world"></i> <a href="#">www.globalinsightskpo.com</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer gallery">
                            <h3>Instagram Feed</h3>
                            <ul class="list">
                                <li><a href="#"><img src="static/images/gallery1.jpg" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="static/images/gallery2.jpg" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="static/images/gallery3.jpg" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="static/images/gallery4.jpg" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="static/images/gallery5.jpg" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="static/images/gallery6.jpg" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="left">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                        target="_blank">GrayGrids</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="right">
                                <p>All Right Reserved Design By Bizfinity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>