<nav class="navbar sticky-top navbar-light bg-light">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">
          <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="{% url 'global_insights' %}">
              <img src="static/images/logo.png" alt="Logo" />
            </a>

            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
            >
              <ul id="nav" class="navbar-nav ms-auto">

                <li class="nav-item">
                  <a
                    class="page-scroll active"
                    href="{% url 'global_insights' %}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{% url 'about_us' %}"
                    >About Us</a
                  >
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{% url 'services' %}"
                    >Services</a
                  >
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="javascript:void(0)"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
            <div class="button">
              <button
                type="button"
                class="btn btn-primary"
                style="border-radius: 8px"
                 id="schedule-btn"
              >
                Get In Touch
              </button>
            </div>
          </nav>
          <!-- navbar -->
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
    <script>
    function openCalendly() {
        window.open("https://calendly.com/info-gik/30min?month=2023-04", "_blank");
    }
    document.getElementById("schedule-btn").addEventListener("click", openCalendly);
  </script>
</nav>
