{% include 'base_1.html' %} {% load static %}
<!-- Preloader -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- /End Preloader -->
{% block content %}

<!-- Start Hero Area -->
{% include 'section.html' %}
<!-- Start Footer Area -->
{% include 'footer.html' %}
<!--/ End Footer Area -->
{% endblock %}
<!-- ========================= scroll-top ========================= -->
<a href="https://api.whatsapp.com/send?phone=16468275815" class="scroll-top btn-hover">
  {% comment %} <i class="lni lni-chevron-up"></i> {% endcomment %}
   <img src=" {% static 'images/whatsapp.webp' %}" alt="Whatsapp" />
</a>

<!-- ========================= JS here ========================= -->
<script src="static/js/count-up.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/imagesloaded.min.js"></script>

<script src="static/js/main.js"></script> 

