{% load static %}
<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 co-12">
          <div class="home-slider">
            <div class="hero-text">
              <span class="small-title wow fadeInUp" data-wow-delay=".3s"
                >Business Solution</span
              >
              <h1 class="wow fadeInUp" data-wow-delay=".5s">
                <span>We Provide Quality</span><br />
                Outsourcing Services
              </h1>
              <p class="wow fadeInUp" data-wow-delay=".7s">
                We offer a comprehensive portfolio of outsourcing solutions for various sizes <br />
                various sizes of business organisations.Our clients get the best quality service with access to the latest skills and technologies in a very efficient manner
              </p>
              <div class="button wow fadeInUp" data-wow-delay=".9s">
                <a
                  href="{% url 'about_us' %}"
                  class="btn mouse-dir btn btn-light"
                  style="border-radius: 8px"
                  >Discover More <span class="dir-part"></span
                ></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!-- Start Features Area -->
<section class="Features section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
          <div class="watch-inner">
            <div class="video-head wow zoomIn" data-wow-delay="0.4s">
              <a
                href="https://www.youtube.com/watch?v=BqI0Q7e4kbk"
                class="glightbox video"
                ><i class="lni lni-play"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="feature-content">
          <div class="title">
            <br>
            <span class="wow fadeInRight" data-wow-delay=".3s"
              >Our Introduction</span
            >
            <h4 class="wow fadeInRight" data-wow-delay=".5s">
              Consulting Market 
              Leader Experts
            </h4>
          </div>
          <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
            <div class="feature-thumb">
              <i class="lni lni-stats-up"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">Grow Your Business With US</h2>
              <p>
                Having more than 5 years of experience in the finance industry, along with experts from 
                 global firms, we commit to providing quality services to our clients.
              </p>
            </div>
          </div>
          <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
            <div class="feature-thumb">
              <i class="lni lni-protection"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">Safety &amp; Security of data</h2>
              <p>
                As we are in the profession of trust, we believe that the safety & security of data
                are of utmost importance. we use the latest technologies to ensure that customer 
                data remains private & secure.
              </p>
            </div>
          </div>
          <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
            <div class="feature-thumb">
              <i class="lni lni-bar-chart"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">KPI's & Ratio Analysis</h2>
              <p>
                Our firm uses technology to streamline processes, increase accuracy, and provide 
                real-time data to help clients make informed decisions.
              </p>
            </div>
          </div>

          <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
            <div class="feature-thumb">
              <i class="lni lni-cloud-check"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">Tech-Driven Business Streamlining</h2>
              <p>
               Our firm is committed to using the latest technology and innovative approaches to 
               accounting. As a result, it streamlines processes, increases accuracy, and
                provides real-time data that can help our clients make informed business decisions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<!-- End Features Area -->
<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Key Milestones</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            Key Milestones we Achieved
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
                    <tr>
            <th scope="col"><img src="{% static 'images/client__.jpg' %}" style="
              height: 109px;
              max-width: 100%;
              align-items: center;
              align: center;
              margin-left: 56px;
          "/></th>
            <th scope="col"><img src="{% static 'images/customer-service.png' %}" style="
              height: 95px;
              max-width: 100%;
              align-items: center;
              align: center;
              margin-left: 17px;
          
          "/></th>
            <th scope="col"><img src="{% static 'images/client_retenation1.png' %}" style="
              height: 114px;
              max-width: 100%;
              align-items: center;
              align: center;
              margin-left: 40px;
          "/></th>
            <th scope="col"><img src="{% static 'images/technology.png' %}" style="
              
              height: 114px;
              max-width: 100%;
              align-items: center;
              align: center;
              margin-left: 12px;
          
          "/></th>
          </tr>
          <tr>
            <th scope="col">+50 Sucessfully Excuted Projects.</th>
            <th scope="col">+40 Happy Clients</th>
            <th scope="col">94% Client Retention Ratio</th>
            <th scope="col">20+ softwares used</th>
          </tr>

        </thead>
  
      </table>
    </div>
  </div>
</section>
<!-- Start Service Area -->
<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">

          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Services</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            We offer a comprehensive range of services to help individuals and
            businesses to manage their finances effectively.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div
          class="single-service wow fadeInUp"
          data-wow-delay=".2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
          "
        >
          <div class="serial">
            <span><i class="lni lni-notepad"></i></span>
          </div>
          <h4><a href="#">Accounting/Bookkeeping</a></h4>
          <p>
            Accurate and quality accounting is the backbone of any business. To keep business
             managers/individuals free from hustles of maintenance of books, we are here for you by
              providing cost-effective and efficient services.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
          <div class="serial">
            <span><i class="lni lni-calculator"></i></i></span>
          </div>
          <h4><a href="#">Year End Finalization</a></h4>
          <p>
            Include correct &amp; timely compilation of the balance sheet &amp; the profit and 
            loss statement. We make sure that accounts are logically verified and reconciled in 
            compliance with the requirements of any applicable accounting standards.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
          <div class="serial">
            <span><i class="lni lni-revenue"></i></span>
          </div>
          <h4><a href="#">Payroll Advisory</a></h4>
          <p>
            Payrolling takes time and requires precision, but we offer affordable and effective solutions for all payroll requirements, including weekly and monthly payroll, payslip preparation, and headcount reconciliation.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
          <div class="serial">
            <span><i class="lni lni-consulting"></i></span>
          </div>
          <h4><a href="#">Management Consultancy</a></h4>
          <p>
            MIS report development process involves providing quarterly/annual financial reports with in-depth 
            insights, financial analysis, &amp; KPIs to decision-making, creating SOPsfor corporate operations,
            timely creation of paperwork &amp; reports to banks &amp; government agencies etc..
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="serial">
            <span><i class="lni lni-certificate "></i></span>
          </div>
          <h4><a href="#">Pre-audit Review of Books</a></h4>
          <p>
            Verify all transactions are accurately documented, implement cut off processes, follow year-end
            processes, identify revenue leaks, scrutinize transactions involving delayed revenue, unbilled 
            revenue, prepayments, &amp; similar items, &amp; complete &amp; supply a draught set of 
            financial statements.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".7s">
          <div class="serial">
            <span><i class="lni lni-invest-monitor"></i></span>
          </div>
          <h4>
            <a href="#" >Account Receivable Management</a>
          </h4>
          <p>
          Include managing customer billing, reviewing credit terms, making analysis of 
           opportunity costs, debtor turnover ratios, preparing customer ageing reports, suggesting 
           incentive & discount policies, providing policies for doubtful debts.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /End Services Area -->
