<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 co-12">
          <div class="home-slider">
            <div class="hero-text">
              <span class="small-title wow fadeInUp" data-wow-delay=".3s"
                >Business Solution</span
              >
              <h1 class="wow fadeInUp" data-wow-delay=".5s">
                <span>We Provide Quality</span><br />
                Outsourcing Services
              </h1>
              <p class="wow fadeInUp" data-wow-delay=".7s">
                We offer a comprehensive portfolio of outsourcing solutions
                for<br />
                various sizes of business organisations.
                <br />
              </p>
              <div class="button wow fadeInUp" data-wow-delay=".9s">
                <a
                  href="{% url 'about_us' %}"
                  class="btn mouse-dir btn btn-light"
                  style="border-radius: 8px"
                  >Discover More <span class="dir-part"></span
                ></a>
              </div>
            </div>
            <div class="hero-text">
              <span class="small-title">Business Solution</span>
              <h1>
                <span>We Provide Quality</span><br />
                Outsourcing Services
              </h1>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                <br />
                industry. Lorem Ipsum has been the industry's standard
                <br />dummy text ever since.
              </p>
              {% comment %}
              <div class="button">
                <a href="class" ="btn mouse-dir"
                  >Discover More <span class="dir-part"></span
                ></a>
              </div>
              {% endcomment %}
            </div>
            <div class="hero-text">
              <span class="small-title">Business Solution</span>
              <h1>
                <span>We Provide Quality</span><br />
                Consulting Services
              </h1>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                <br />
                industry. Lorem Ipsum has been the industry's standard
                <br />dummy text ever since.
              </p>
              <div class="button">
                <a
                  href="class"
                  ="btn mouse-dir btn btn-light"
                  style="border-radius: 8px"
                  >Discover More <span class="dir-part"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!-- Start Features Area -->
<section class="Features section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
          <div class="watch-inner">
            <div class="video-head wow zoomIn" data-wow-delay="0.4s">
              <a
                href="https://www.youtube.com/watch?v=BqI0Q7e4kbk"
                class="glightbox video"
                ><i class="lni lni-play"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="feature-content">
          <div class="title">
            <span class="wow fadeInRight" data-wow-delay=".3s"
              >Our Introduction</span
            >
            <h3 class="wow fadeInRight" data-wow-delay=".5s">
              Consulting Market <br />
              Leader Experts
            </h3>
          </div>
          <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
            <div class="feature-thumb">
              <i class="lni lni-stats-up"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">Grow Your Business With US</h2>
              <p>
                We have experience of more than 5 years in the finance industry
                along with the experts from various global firms, we commit to
                provide quality services to our clients.
              </p>
            </div>
          </div>
          <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
            <div class="feature-thumb">
              <i class="lni lni-protection"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">Safety &amp; Security of data</h2>
              <p>
                We are using the latest technologies to ensure that the client's
                data is kept confidential and secure
              </p>
            </div>
          </div>
          <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
            <div class="feature-thumb">
              <i class="lni lni-bar-chart"></i>
            </div>
            <div class="banner-content">
              <h2 class="title">KPI's & Ratio Analysis</h2>
              <p>
                Our firm believes in providing more insights about the financial
                health of your business like various KPIs & ratio analysis so
                that the business owners can get to know the overall financial
                picture of the business & thereby becoming a valuable partner in
                your business success.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features Area -->
<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">
          {% comment %}
          <span class="wow fadeInDown" data-wow-delay=".2s"
            >What We Offer You</span
          >
          {% endcomment %}
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Key Milestones</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            Key Milestones we Achieved
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">+50 Sucessfully Excuted Projects.</th>
            <th scope="col">+40 Happy Clients</th>
            <th scope="col">94% Client Retention Ratio</th>
            <th scope="col">20+ softwares used</th>
          </tr>
        </thead>
  
      </table>
    </div>
  </div>
</section>
<!-- Start Service Area -->
<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">
          {% comment %}
          <span class="wow fadeInDown" data-wow-delay=".2s"
            >What We Offer You</span
          >
          {% endcomment %}
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Services</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            We offer a comprehensive range of services to help individuals and
            businesses to manage their finances effectively.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div
          class="single-service wow fadeInUp"
          data-wow-delay=".2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
          "
        >
          <div class="serial">
            <span><i class="lni lni-notepad"></i></span>
          </div>
          <h3><a href="#">Accounting/Bookkeeping</a></h3>
          <p>
            To keep business managers/individuals free from hustles of
            maintenance of books, we are here for you by providing
            cost-effective and efficient services.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
          <div class="serial">
            <span><i class="lni lni-vector"></i></span>
          </div>
          <h3><a href="#">Year End Finalization</a></h3>
          <p>
            Ensuring accounts correctly audited &amp; reconciled in a logical
            manner &amp; in accordance with requirements of relevant accounting
            standards.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
          <div class="serial">
            <span><i class="lni lni-ux"></i></span>
          </div>
          <h3><a href="#">Payroll Advisory</a></h3>
          <p>
            It is a time-consuming process &amp; requires knowledge of
            applicable laws &amp;,We offer economical
            &amp; effective solutions for all payroll needs.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
          <div class="serial">
            <span><i class="lni lni-keyword-research"></i></span>
          </div>
          <h3><a href="#">Management Consultancy</a></h3>
          <p>
            This service involves providing expert advice &amp; guidance to
            businesses on various management-related issues.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="serial">
            <span><i class="lni lni-seo"></i></span>
          </div>
          <h3><a href="#">Pre-audit Review of Books</a></h3>
          <p>
            This service involves reviewing a company's financial records and
            transactions before they are audited by an external auditor.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service wow fadeInUp" data-wow-delay=".7s">
          <div class="serial">
            <span><i class="lni lni-bar-chart"></i></span>
          </div>
          <h3>
            <a href="service-single.html">Account Receivable Management</a>
          </h3>
          <p>
            Efficient management of working capital cycle &amp; timely
            collection of receivables from customers is a continuous &amp;
            time-consuming process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /End Services Area -->
