{% include 'base_1.html' %} {% load static %} {% block content %}

<div lass="container">
  
    <div>
      <div class="row">
        <div >
          <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".4s">Who we are</h2>
          </div>
        </div>
        <p class="wow fadeInUp" data-wow-delay=".6s">
          We, Global Insights KPO offer a comprehensive portfolio of outsourcing
          solutions for various sizes of business organisations. Our clients get
          best quality service with access to the latest skills and technologies
          in a very efficient manner.
        </p>
        <br /><br /><br />
        <p>
          We are, emerging KPO having a specialized team of accounting, management
          consultancy and auditing services. Our team consists of certified public
          accountants, MBA professionals, experienced accountants, semi qualified
          and other skilled people.
        </p>
        <br /><br /><br />
        <p>
          Our Objective is to get insights into the global need of outsourcing and
          provide quality services in a cost efficient manner to achieve higher
          levels of satisfaction for our Clients.
        </p>
      </div>
    </div>
  
  <section class="why_us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".4s">
              Why Global Insights KPO
            </h2>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            - Having the experience of more than 5 years in the finance industry
            along with the experts from various global firms, we commit to provide
            quality services to our clients.
          </li>
          <li class="list-group-item">
            - As we are into the profession of trust, we believe that the safety
            and security of data is of utmost importance. Hence, we are using the
            latest technologies to ensure that the client's data is kept
            confidential and secure.
          </li>
          <li class="list-group-item">
            - Apart from traditional accounting services, our firm believes in
            providing more insights about the financial health of your business
            like various KPIs & ratio analysis so that the business owners can get
            to know the overall financial picture of the business & thereby
            becoming a valuable partner in your business success.
          </li>
          <li class="list-group-item">
            - Our firm is committed to using the latest technology and innovative
            approaches of accounting. As a result, it streamlines processes,
            increases accuracy, and provides real-time data that can help our
            clients to make informed business decisions.
          </li>
          <li class="list-group-item">
            - We are committed to provide excellent customer service, being
            responsive to clients' needs, and maintaining open and clear
            communication at all times.
          </li>
          <li class="list-group-item">
            - Maintaining the same level of trust & confidence for all our new
            clients as we are having for our <b>current 40+ happy Clients </b>is
            our top most priority.
          </li>
          <li class="list-group-item">
            - We believe in consistency. Hence, we take continuous feedback from
            our clients on a regular basis so as to maintain a higher level of
            satisfaction from our Clients.
          </li>
        </ul>
      </div>
      {% comment %}
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div
            class="single-service wow fadeInUp"
            data-wow-delay=".2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="serial">
              <span><i class="lni lni-code"></i></span>
            </div>
            <h3><a href="service-single.html">Web Solution</a></h3>
            <p>
              Need A Project Completed By An Expert? Let’s Go! Access A Human
              Resources Consultant To Answer Questions
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-service wow fadeInUp" data-wow-delay=".3s">
            <div class="serial">
              <span><i class="lni lni-vector"></i></span>
            </div>
            <h3><a href="service-single.html">Graphics Design</a></h3>
            <p>
              Need A Project Completed By An Expert? Let’s Go! Access A Human
              Resources Consultant To Answer Questions
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-service wow fadeInUp" data-wow-delay=".4s">
            <div class="serial">
              <span><i class="lni lni-ux"></i></span>
            </div>
            <h3><a href="service-single.html">Ui/Ux Design</a></h3>
            <p>
              Need A Project Completed By An Expert? Let’s Go! Access A Human
              Resources Consultant To Answer Questions
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-service wow fadeInUp" data-wow-delay=".5s">
            <div class="serial">
              <span><i class="lni lni-keyword-research"></i></span>
            </div>
            <h3><a href="service-single.html">Strategy & Research</a></h3>
            <p>
              Need A Project Completed By An Expert? Let’s Go! Access A Human
              Resources Consultant To Answer Questions
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-service wow fadeInUp" data-wow-delay=".6s">
            <div class="serial">
              <span><i class="lni lni-seo"></i></span>
            </div>
            <h3><a href="service-single.html">SEO & Marketing</a></h3>
            <p>
              Need A Project Completed By An Expert? Let’s Go! Access A Human
              Resources Consultant To Answer Questions
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-service wow fadeInUp" data-wow-delay=".7s">
            <div class="serial">
              <span><i class="lni lni-bar-chart"></i></span>
            </div>
            <h3><a href="service-single.html">Growth Tracking</a></h3>
            <p>
              Need A Project Completed By An Expert? Let’s Go! Access A Human
              Resources Consultant To Answer Questions
            </p>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
  </section>
</div>



<div class="team-area section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Creative Team</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".3s">
          <div class="team-img">
            <img
              src="static/images/img1.webp"
              alt="Images"
              data-pagespeed-url-hash="1429878292"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
            {% comment %}
            <div class="team-social-icon">
              <ul class="social-link">
                <li>
                  <a href="#"><i class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-instagram-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-linkedin-original"></i></a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".5s">
          <div class="team-img">
            <img
              src="static/images/img2.webp"
              alt="Images"
              data-pagespeed-url-hash="1724378213"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
            {% comment %}
            <div class="team-social-icon">
              <ul class="social-link">
                <li>
                  <a href="#"><i class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-instagram-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-linkedin-original"></i></a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".7s">
          <div class="team-img">
            <img
              src="static/images/img3.webp"
              alt="Images"
              data-pagespeed-url-hash="2018878134"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
            {% comment %}
            <div class="team-social-icon">
              <ul class="social-link">
                <li>
                  <a href="#"><i class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-instagram-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-linkedin-original"></i></a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>
{% include 'company.html' %} {% include 'newsletter.html' %} {% endblock %}
<script type="text/javascript" src='{% static "js/validation.js" %}'></script>
{% include 'footer.html'%}
