{% include 'base_1.html' %} {% load static %} {% block content %}

<div lass="container">
  
    <div>
      <div class="row">
        <div >
          <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".4s">What We Offer</h2>
          </div>
        </div>
        <section class="what_we_offer">
          <div class="container">
             <div class="jumbotron">
              <p >As an outsourcing firm, we offer a comprehensive range of services to help 
                              individuals and businesses to manage their accounts and finances effectively. 
                              Our team of highly skilled professionals is dedicated to providing personalized 
                              solutions that meet your specific needs and objectives.</p>
              <hr class="my-4">
              <p>
                Whether you are a business owner or an individual looking for financial guidance, we have the 
                expertise and experience to help you to achieve your financial goals. Our commitment to 
                excellence and attention to detail, ensures that you receive accurate and timely financial
                 information, allowing you to make informed decisions and stay on top of your accounting needs.
                 
              </p>
            </div>
           
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Year End Finalization</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>This service includes timely preparation of Profit & Loss account and Balance Sheet
                       in an accurate manner. We ensure all accounts are properly checked and reconciled in a 
                       very logical manner and in accordance with the requirements of applicable accounting 
                       standards.</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>

             <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Payroll Advisory</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Payroll management is a time-consuming process and requires knowledge of applicable laws 
                      and a high level of accuracy. As an outsourcing partner, we will provide cost effective and
                       efficient outsourced solutions for all of your payroll needs like weekly/monthly payroll,
                        pay slip creation, Headcount reconciliation, etc.</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>

             <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Accounting/ Bookkeeping</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Accurate and quality accounting is the backbone of any business. To keep business 
                      managers/individuals free from hustles of maintenance of books, we are here for you 
                      by providing cost-effective and efficient services. By partnering with us, you will get following services:</td>
                  </tr>
                  <tr>
                     <td>
                        <ul class="list-group">
                          <li class="list-group-item">❖	Verifying and recording vendor’s invoices along with stock inward entries, if any. </li>
                          <li class="list-group-item">❖	Recording revenue and other income transactions along with stock outward entries, if any. </li>
                          <li class="list-group-item">❖	Verifying and recording of expenses, Bank Reconciliations , Periodic review of all ledgers</li>
                          <li class="list-group-item">❖	Sharing of query sheets on a periodic basis and taking formal follow ups</li>
                          <li class="list-group-item">❖	Finalizations of Books of Accounts for preparation of tax returns.</li>
                        </ul>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
             <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Management Consultancy</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Following services are included in Management Consultancy</td>
                  </tr>
                  <tr>
                     <td>
                        <ul class="list-group">
                          <li class="list-group-item">❖	Revenue leakages identification</li>
                          <li class="list-group-item">❖	Monthly preparation of MIS reports consisting variance analysis, pricing analysis, ratio analysis etc.,. </li>
                          <li class="list-group-item">❖	Assistance in decision making by providing quarterly/annual financial reports having in depth and critical insights regarding financial analysis & various business KPIs, </li>
                          <li class="list-group-item">❖	Standard operating procedures (SOP) preparation for all business activities,</li>
                          <li class="list-group-item">❖	❖	Timely preparation of documents & reports which are required to be
                             submitted to the banks & government authorities with respect to loans & compliances 
                             (E.g., Quarterly Submission of Stock and debtors schedule to bank with respect to working capital 
                             loan taken).</li>
                        </ul>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </section>
       
      </div>
    </div>
  
</div>



<div class="team-area section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Creative Team</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".3s">
          <div class="team-img">
            <img
              src="static/images/img1.webp"
              alt="Images"
              data-pagespeed-url-hash="1429878292"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
            {% comment %}
            <div class="team-social-icon">
              <ul class="social-link">
                <li>
                  <a href="#"><i class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-instagram-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-linkedin-original"></i></a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".5s">
          <div class="team-img">
            <img
              src="static/images/img2.webp"
              alt="Images"
              data-pagespeed-url-hash="1724378213"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
            {% comment %}
            <div class="team-social-icon">
              <ul class="social-link">
                <li>
                  <a href="#"><i class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-instagram-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-linkedin-original"></i></a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-card wow fadeInUp" data-wow-delay=".7s">
          <div class="team-img">
            <img
              src="static/images/img3.webp"
              alt="Images"
              data-pagespeed-url-hash="2018878134"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
            {% comment %}
            <div class="team-social-icon">
              <ul class="social-link">
                <li>
                  <a href="#"><i class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-instagram-original"></i></a>
                </li>
                <li>
                  <a href="#"><i class="lni lni-linkedin-original"></i></a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
          <div class="content">
            <h3>John Doe</h3>
            <span>Founder - CEO</span>
            <p>
              Lorem ipsum dolor sit consectetur adipiscing elit lacinia pharetra
              purus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>
{% include 'company.html' %} {% include 'newsletter.html' %} {% endblock %}
<script type="text/javascript" src='{% static "js/validation.js" %}'></script>
{% include 'footer.html'%}
